<html lang="ru">
<head>
    <link type="text/css" href="/static/index.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Страница учителя</title>
</head>
<body>
    Добро пожаловать, {{ name }}!
    <span class="span-left">
        <a href="\logout">&larrlp; Выйти</a>
    </span>
    <hr>
    <div class="block">
    <h3>Таблицы учёта посещаемости для заполнения:</h3>
        <ol>{% for item in opens %}
            <li><div style="display:inline-block"><a href="/table/{{ item.id }}">{{ item.ss_name }}{% if is_admin %},
                {{ item.th_name }}
                {% endif %}
                ({{ item.ss_id }})</a></div>
                <div style="display:inline-block">({{ item.date_min | fmt_date_rus }} - {{ item.date_max | fmt_date_rus }})</div>
                </li>
        {% endfor %}</ol>
    </div>
    <br>
    <div class="block">
        <h3>Недавно заполненные таблицы учёта посещаемости:</h3>
    </div>
</body>
</html>