<html>
<head>
    <link type="text/css" href="/static/index.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Страница учителя</title>
</head>
<body>
    Добро пожаловать, {{ name }}!
    <br>
    <a href="\logout">Выйти</a>
    <hr>
    <h3>Таблицы учёта посещаемости для заполнения:</h3>
    <ol>
        {% for item in opens %}
        <li>{{ item.id }} ({{ item.date_min }} - {{ item.date_max }})</li>
        {% endfor %}
    </ol>
    <h3>Заполненные таблицы учёта посещаемости:</h3>
</body>
</html>