<html>
<head>
    <link type="text/css" href="/static/index.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Страница учителя</title>
</head>
<body>
    Добро пожаловать, {{ name }}!
    <span class="span-right">
        <a href="\logout">Выйти</a>
    </span>
    <hr>
    <div class="block">
    <h3>Таблицы учёта посещаемости для заполнения:</h3>
        <ol>{% for item in opens %}
            <li><a href="/table/{{ item.id }}">{{ item.id }}</a> ({{ item.date_min }} - {{ item.date_max }})</li>
        {% endfor %}</ol>
    </div>
    <br>
    <div class="block">
        <h3>Заполненные таблицы учёта посещаемости:</h3>
    </div>
</body>
</html>