<!DOCTYPE html>
<meta http-equiv="Content-Language" content="ru">
<html lang="ru">
<head>
    <link type="text/css" href="/static/index.css" rel="stylesheet">
    <link type="text/css" href="/static/login.css" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="ru">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Форма входа</title>
</head>
<!-- <body style="display: flex; align-items: center; justify-content: center"> -->
<body class="login-body">
<div>
    {% include "header.html" %}
    <h1>Введите логин и пароль</h1>
    <form class="block" method="POST">
        <label for="login">ID: </label>
        <input id="login" name="login" type="text"/>
        <label for="password">Пароль: </label>
        <input id="password" name="password" type="password"/>
        <input type="submit" value="Войти">
        <input type="reset" value="Cброс">
    </form>
    <br><br>
</div>
</body>
</html>