<html lang="ru">
<head>
    <link type="text/css" href="/static/index.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Таблица посещаемости</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/attendance.js"></script>
</head>
<body>
    <span class="span-left">
        <a href="\logout">&larrlp; Выйти</a>
    </span>
    <span class="span-left">
        <u>Преподаватель</u>: <div style="display:inline-block">{{ teacher }}</div>.
    </span>
    <br>
    <h2>Таблица посещаемости {{ name }}</h2>
    <form class="block" method="POST">
        <div style="width: min-content; max-width: 100%">
{{ table }}
            <input type="submit" id="save" value="Сохранить">
            <a href="/"><button class="cancel" type="button">Отменить</button></a>
            &nbsp;
            <div class="span-right"><input type="submit" formaction="?seal=yes" value="Сохранить и закончить"></div>
        </div>
    </form>
</body>
</html>