<html>
<head>
    <link type="text/css" href="/static/index.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Таблица посещаемости</title>
</head>
<body>
    <span class="span-left">
        <a href="\logout">&larrlp; Выйти</a>
    </span>
    <span class="span-left">
        <u>Преподаватель</u>: <div style="display:inline-block">{{ teacher }}</div>.
    </span>
    <br>
    <h2>Таблица посещаемости {{ name }}</h2>
    <form class="block" method="POST">
        {{ table }}
        <input type="submit" value="Сохранить">
        <input type="checkbox" name="close" id="close">
        <label for="close">закрыть таблицу (заполнена, готова к отправке)</label>
        &nbsp;&nbsp;
        <a href="/"><button class="cancel" type="button">Отменить</button></a>
    </form>
</body>
</html>